<ion-view title="Hesarin fingeprori">
  <ion-content direction="xy" zooming="true" scrollbar-x="true" scrollbar-y="true" class="has-header">
    <div class="row">
      <div class="col">
        <button ng-click="sarjakuvaUpdate(edellinenurl)" class="button button-stable">
          Edellinen
        </button>
      </div>
      <div class="col">
        <h1 class="title">{{cartoondate|date:'dd.MM.yyyy'}}</h1>
      </div>
      <div class="col">
        <button ng-click="sarjakuvaUpdate(seuraavaurl)" class="button button-stable">
          Seuraava
        </button>
      </div>
    </div>
     <div width="100%" class="row" ng-init="geturl='http://m.hs.fi/fingerpori/'" ng-bind-html="hshtml"></div>
  </ion-content>
</ion-view>
